.footerSection {
        background-color: black !important;
        color: rgb(221, 218, 218); 
        text-transform: capitalize;   
}
.copyRight {
       align-items: center;
       text-align: center;
       justify-content: center;
       border-top:  1px  solid rgb(82, 81, 81);
       border-bottom:  1px  solid rgb(82, 81, 81);
      width: 100%;
}

.footerSection h5 {
        color: blanchedalmond;
        font-weight: bold;
        font-size: 16px;
}

.footerSection p {
        font-size: 14px;
}
.footerSection .socialLink {
        font-size: 30px;
        color: rgb(184, 174, 174);
     
        
}
.footerSection .socialLink a {
        text-decoration: none;
}

.footerSection .socialLink a:hover {
        color: white;
}

.footerSection .socialLink i:nth-child(2){
        font-size: 34px;
}
.footerSection .socialLink i {
        margin-left: 10px;
}