.input_field {
border: none !important;
 }
.input_field:focus {
box-shadow: none !important;
 } 
.input_field_div {
border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
.signup_Wrapper {
border-radius: 10px;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.144);
}